.bg-aurora {
    background: linear-gradient(135deg, #09090b 0%, #1e1b4b 25%, #312e81 50%, #171717 100%);
    background-size: 400% 400%;
    animation: aurora-animation 20s ease infinite;
}

@keyframes aurora-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}